@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.content h1 {
    margin: 0;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: 1rem 0.5rem;
    font-size: 0.625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img{
    max-width: 100%;
    max-height: 85px;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    padding: 0.25rem 0.25rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 0.625rem;
}

/* Cores de fundo por tipo do pokemon */
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

/* Responsividade */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    .pokemon .detail img{
        max-width: 100%;
        max-height: 65px;
    }
}

@media screen and (min-width: 576px){
    .content {
        max-width: 576px;
        margin: 0 auto;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pokemon .detail img{
        max-width: 100%;
        height: 75px;
    }
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}